.pageheader {
  font-family:Helvetica;
  font-size: 100px;
  font-weight: bold;
  color:khaki;
  text-align:center;
  background-image: url("../pattern.jpeg")
}
.headers {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color:white;
}
.paintbackgroundcolor {
  background-color: skyblue;
}
.brushbackgroundcolor {
    background-color: mediumspringgreen;
}
.framesbackgroundcolor {
  background-color: lightcoral;
}

bodyp {
  font-family: Helvetica;
  font-weight: bold;
  color:blue;
}

.price {
    color: Blue;
    font-weight: bold;
}
